<script setup lang="ts">
import {
  mdiControllerClassic,
  mdiMusicCircleOutline,
  mdiFaceManShimmer,
  mdiBookAccount,
  mdiBadgeAccountOutline,
  mdiAccountHeartOutline,
  mdiHomeOutline,
  mdiMenu,
  mdiBellOutline,
} from "@mdi/js";
</script>
<template>
  <v-toolbar color="blue-grey-darken-3">
    <v-spacer></v-spacer>

    <v-btn class="text-none" stacked>
      <v-badge dot color="success">
        <v-icon :icon="mdiHomeOutline"></v-icon>
      </v-badge>
    </v-btn>

    <v-btn class="text-none" stacked>
      <v-badge content="2" color="error">
        <v-icon :icon="mdiBellOutline"></v-icon>
      </v-badge>
    </v-btn>

    <v-btn class="text-none" stacked>
      <v-icon :icon="mdiMenu"></v-icon>
    </v-btn>

    <v-spacer></v-spacer>
  </v-toolbar>
  <v-container v-bind:style="{ 'background-color': '#26c6da' }">
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="50%" rounded="0" color="#26c6da">
          <v-img
            height="60%"
            cover
            src="https://media.istockphoto.com/id/1158847786/th/%E0%B9%80%E0%B8%A7%E0%B8%84%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C/%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%A3%E0%B9%88%E0%B8%B2%E0%B8%87%E0%B9%84%E0%B8%A5%E0%B9%88%E0%B8%A3%E0%B8%B0%E0%B8%94%E0%B8%B1%E0%B8%9A%E0%B8%AA%E0%B8%B5%E0%B9%80%E0%B8%A3%E0%B8%82%E0%B8%B2%E0%B8%84%E0%B8%93%E0%B8%B4%E0%B8%95%E0%B8%99%E0%B8%B2%E0%B8%A1%E0%B8%98%E0%B8%A3%E0%B8%A3%E0%B8%A1.jpg?s=612x612&w=0&k=20&c=V9ypMvpQnJQS0RCIC4F0Lq2xAb-Y8jsKnbmBHRaKRvw="
          >
            <v-avatar color="grey" size="150">
              <v-img
                cover
                src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160263"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-yellow"
              title="วรเชษฐ์ ศิริเธียรไชย"
              subtitle="คณะวิทยาการสารสนเทศ สาขาวิทยาการคอมพิวเตอร์"
            ></v-list-item> </v-img></v-card
      ></v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-table>
          <thead>
            <tr v-bind:style="{ 'background-color': '#7510E7' }">
              <th><v-icon :icon="mdiBookAccount" />ประวัติการศึกษา</th>
              <th><v-icon :icon="mdiAccountHeartOutline" />สิ่งที่สนใจ</th>
            </tr>
          </thead>
          <tbody>
            <tr v-bind:style="{ 'background-color': '#FB64F9 ' }">
              <td>
                <v-icon
                  :icon="mdiBadgeAccountOutline"
                />ช่วงอนุบาล-มัธยมศึกษาตอนต้น :โรงเรียนเพ็ญพัฒนา
              </td>
              <td><v-icon :icon="mdiControllerClassic" />เกม</td>
            </tr>
            <tr v-bind:style="{ 'background-color': '#FB64F9 ' }">
              <td>
                <v-icon :icon="mdiBadgeAccountOutline" />ช่วงมัธยมศึกษาตอนปลาย
                :โรงเรียนพิบูลวิทยาลัย
              </td>
              <td><v-icon :icon="mdiMusicCircleOutline" />เเพลง</td>
            </tr>
            <tr v-bind:style="{ 'background-color': '#FB64F9 ' }">
              <td>
                <v-icon :icon="mdiBadgeAccountOutline" />ช่วงมหาวิทยาลัย
                :มหาวิทยาลัยบูรพา
              </td>
              <td><v-icon :icon="mdiFaceManShimmer" />เอนิเมะ</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
